body
{
	padding:0;
	margin:0;
  background-image: url("../images/A.JPG");
	 }
   #wrapper
	 {
	 	width: 1000px;
	 	background-color: #fff;
	 	margin: 0px auto;
	 	margin-top: 60px;
	 	border: 1px solid#999;
	 	border-bottom: 3px solid#999;
	 	border-radius: 5px;
	 	padding-bottom: 20px;
    background-color: skyblue
 }
 .center
{
	text-align: center;
	color: red;
  margin-top: 100px;
  margin-bottom: 100px;
 }
 #menu
{
	text-align: center;
 }
